<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sspe.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sspe.Settings>
            <setting name="MqttServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MqttClientIdentifier" serializeAs="String">
                <value>Sspe_9SansSouci</value>
            </setting>
            <setting name="MqttServerPort" serializeAs="String">
                <value>1883</value>
            </setting>
        </Sspe.Settings>
    </userSettings>
</configuration>